body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
}

.container2 {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: top;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.title {
  position: absolute;
  top: 18%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.subtitle {
  position: absolute;
  top: 26%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.categoryBoxStyles:hover {
  box-shadow: 0 0 20px rgba(72, 171, 224, 0.8);
}
